# run = "cd coreutil-source && cargo fmt && ./build.sh"
run = "sh"
hidden = ["target", ".cargo", ".config"]

entrypoint = "coreutil-source"
modules = ["rust-1.72:v1-20230911-f253fb1"]

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]
